*.xcbkptlist
WeatherApp.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
WeatherApp.xcodeproj/project.xcworkspace/xcuserdata/yuriy.egorov.xcuserdatad/UserInterfaceState.xcuserstate
WeatherApp.xcodeproj/xcshareddata/xcschemes/WeatherApp.xcscheme
WeatherApp.xcodeproj/xcuserdata/yuriy.egorov.xcuserdatad/xcschemes/xcschememanagement.plist
